header {
    width: 100%;
    background-color: saddlebrown;
    color: lightpink;
}

body {
	background-color: beige;
	text-align: center;
    font-family: 'Lato', sans-serif;
    color: palevioletred;
}
#container {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    width: 800px;
	margin:0 auto;
}

img {
    width:200px;
	height:200px;
	display:inline-block;
	margin: 10px;
	box-sizing: border-box;

}

/*
.box {
	width:200px;
	height:200px;
	display:inline-block;
	background: blue;
	margin: 10px;
	box-sizing: border-box;
}

.box img {
	width:100%;
	height:100%;
}
*/
